# Dependencies
/node_modules

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build

# Misc
.DS_Store
*.pem
tsconfig.tsbuildinfo

# Env files
.env*.local
.dev.vars

# Cloudflare / OpenNext
.open-next
.wrangler
cloudflare-env.d.ts
